<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2022. yize.link
  ~ editor: yize
  ~ date:  2022/11/1
  ~
  ~ @author yize<vcsimno@163.com>
  ~ 本开源由yize发布和开发，部分工具引用了其他优秀团队的开源工具包。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yize.cheesecake.authorize.mapper.PromisesMapper">
    <resultMap id="BaseResultMap" type="com.yize.cheesecake.authorize.pojo.Promises">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cc_account" jdbcType="VARCHAR" property="ccAccount"/>
        <result column="cc_promise" jdbcType="VARCHAR" property="ccPromise"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id
        , cc_account, cc_promise
    </sql>
    <select id="selectByExample" parameterType="com.yize.cheesecake.authorize.pojo.PromisesExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from cc_promises
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cc_promises
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from cc_promises
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.yize.cheesecake.authorize.pojo.PromisesExample">
        delete from cc_promises
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.yize.cheesecake.authorize.pojo.Promises">
        insert into cc_promises (id, cc_account, cc_promise)
        values (#{id,jdbcType=BIGINT}, #{ccAccount,jdbcType=VARCHAR}, #{ccPromise,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.yize.cheesecake.authorize.pojo.Promises">
        insert into cc_promises
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="ccAccount != null">
                cc_account,
            </if>
            <if test="ccPromise != null">
                cc_promise,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="ccAccount != null">
                #{ccAccount,jdbcType=VARCHAR},
            </if>
            <if test="ccPromise != null">
                #{ccPromise,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.yize.cheesecake.authorize.pojo.PromisesExample"
            resultType="java.lang.Long">
        select count(*) from cc_promises
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update cc_promises
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.ccAccount != null">
                cc_account = #{record.ccAccount,jdbcType=VARCHAR},
            </if>
            <if test="record.ccPromise != null">
                cc_promise = #{record.ccPromise,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update cc_promises
        set id = #{record.id,jdbcType=BIGINT},
        cc_account = #{record.ccAccount,jdbcType=VARCHAR},
        cc_promise = #{record.ccPromise,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.yize.cheesecake.authorize.pojo.Promises">
        update cc_promises
        <set>
            <if test="ccAccount != null">
                cc_account = #{ccAccount,jdbcType=VARCHAR},
            </if>
            <if test="ccPromise != null">
                cc_promise = #{ccPromise,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yize.cheesecake.authorize.pojo.Promises">
        update cc_promises
        set cc_account = #{ccAccount,jdbcType=VARCHAR},
            cc_promise = #{ccPromise,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>